

@media all and (max-width:500px) {

    nav ul{
        display: none;
    }

    body{
        overflow-x: hidden;
    }

    .myImg {
       transform: scale(6%);
    }

    #first{
        transform: translate(10px,20px);
    }
}