

@media all and (max-width:500px) {

    nav ul{
        display: none;
    }

    body{
        overflow-x: hidden;
    }

    .myImg {
        transform: translate(14px,135px) rotate(-1deg) scale(96%);
        width: 50vh;
        border: 2px solid white;
    }

    .nameposition{
        transform: translate(-22em, 32em);
        position: relative;
        top: -300px;
        right:-637px;
        border: 2px solid white;
        width: 844px;
    }


    #first{
        font-size: 1rem;
        transform:translate(-18em, -4.3em)
    }

    #sec{
        font-size: 2rem;
    }

}